@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  /* Colors */
  --oldLace: #fef3e2;
  --white: #ffffff;
  --white40: #ffffff40;
  --princetonOrange: #ff7d29;
  --outerSpace: #444444;
  --princetonOrange40: #ff7d2940;
  --princetonOrange70: #ff7d2970;
  --princetonOrange10: #ff7d2910;
  --gray: #fdfbee;

  /* Fonts */
  --karla: "Karla", sans-serif;
  --publicSans: "Public Sans", sans-serif;

  /* Fonts Size */
  --medium: 1.25rem;

  /* Custom Grid Columns */
  --custom-grid-cols: ;
}

* {
  font-family: var(--publicSans);
  color: var(--outerSpace);
}

.active-opt {
  background-color: var(--princetonOrange);
  color: var(--white);
}

.bg-img {
  height: 500px;
  width: 500px;
  background-color: #ff7d2970;
  filter: blur(55rem);
  border-radius: 50%;
  position: absolute;
  top: -15%;
  right: -35%;
  z-index: -99;
  opacity: 0.5;
}

@media (min-width: 750px) {
  .bg-img {
    height: 900px;
    width: 900px;
    background-color: #ff7d2970;
    filter: blur(55rem);
    border-radius: 50%;
    position: absolute;
    top: -35%;
    right: -25%;
    z-index: -99;
  }
}
