@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  /* Colors */
  --oldLace: #fef3e2;
  --white: #ffffff;
  --white40: #ffffff40;
  --princetonOrange: #ff7d29;
  --outerSpace: #444444;
  --princetonOrange40: #ff7d2940;
  --princetonOrange70: #ff7d2970;
  --princetonOrange10: #ff7d2910;
  --gray: #fdfbee;

  /* Fonts */
  --karla: "Karla", sans-serif;
  --publicSans: "Public Sans", sans-serif;

  /* Fonts Size */
  --medium: 1.25rem;

  /* Custom Grid Columns */
  --custom-grid-cols: ;
}

* {
  font-family: var(--publicSans);
  color: var(--outerSpace);
}
